---
import DistribuidorHeroBanner from "../../components/Distribuidor/DistribuidorHeroBanner.astro";
import VentajasComponent from "../../components/Distribuidor/VentajasComponent.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Distribuidor Selecto">
  <main>
    <DistribuidorHeroBanner />
    <VentajasComponent />
  </main>
</Layout>
