---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Yeguada Selecta">
  <main>
    <h1 class="text-7xl font-bold">Welcome to Talavera store</h1>
    <p>Buy the best talavera in the world</p>
  </main>
</Layout>
