---

---

<section class="hero-yeguada grid grid-cols-1 md:grid-cols-2 min-h-screen items-center text-white">
  <div class="w-full flex justify-center items-center">
    <div class="w-full max-w-screen-sm px-4 mb-8">
   
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d10290.392291179893!2d-4.902105851030689!3d39.93351691431262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sFinca%20Don%20Pablo%2C%204%20-%20Talavera%20La%20Nueva!5e0!3m2!1ses!2sco!4v1730942393098!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
  <div>
    <div class="text-left w-full max-w-5xl px-4 mb-8">
      <h2 class="text-xl font-bold uppercase tracking-widest ">
        NOS PUEDES
      </h2>
      <h1 class="text-4xl 2xl:text-7xl font-extrabold ">
        contáctar
      </h1>
    </div>
    <div class="w-full max-w-5xl px-4 mb-8">
      <p class="font-bold">Ubicación:</p>
      <p>Finca Don Pablo, 4 - Talavera La Nueva</p>
    </div>
    <div class="w-full max-w-5xl px-4 mb-8">
      <p class="font-bold">Teléfono:</p>
      <p>697 93 90 31</p>
      <p>686 48 46 45</p>
    </div>
  </div>
</section>

<style>
    .hero-yeguada {
      background-image: url("../../assets/images/Yeguada/bg-yeguada.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  </style>
