---
import ExpirienceComponent from "../../components/Conocenos/ExpirienceComponent.astro";
import FabricGalery from "../../components/Conocenos/FabricGalery.astro";
import HeroBanerConocenos from "../../components/Conocenos/HeroBanerConocenos.astro";
import TimeSection from "../../components/Conocenos/TimeSection.astro";
import DistribuidorCompnent from "../../components/Home/DistribuidorCompnent.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Conocenos">
  <main>
    <HeroBanerConocenos />
    <TimeSection />
    <ExpirienceComponent />
    <FabricGalery />
    <DistribuidorCompnent />
  </main>
</Layout>
