---
import MountainBG from "@components/Utilities/MountainBG.astro";
import ExpirienceComponent from "../../components/Conocenos/ExpirienceComponent.astro";
import FabricGalery from "../../components/Conocenos/FabricGalery.astro";
import HeroBanerConocenos from "../../components/Conocenos/HeroBanerConocenos.astro";
import TimeSection from "../../components/Conocenos/TimeSection.astro";
import DistribuidorCompnent from "../../components/Home/DistribuidorCompnent.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Conocenos">
  <main>
    <HeroBanerConocenos />
    <TimeSection />
    <ExpirienceComponent />
    <FabricGalery />
    <DistribuidorCompnent />
    <div class="relative h-28 md:h-24 lg:h-16 xl:h-8 z-10">
      <MountainBG />
    </div>
  </main>
</Layout>
