---
import ExpirienceComponent from "../../components/Conocenos/ExpirienceComponent.astro";
import HeroBanerConocenos from "../../components/Conocenos/HeroBanerConocenos.astro";
import TimeSection from "../../components/Conocenos/TimeSection.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Conocenos">
  <main>
    <HeroBanerConocenos />
    <TimeSection />
    <ExpirienceComponent />
  </main>
</Layout>
