---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Blog/Title.astro";
import BlogPreview from "@components/Blog/BlogPreview.astro";

// TODO:consulta todos los post y los ordena por fecha
let allPost = await Astro.glob("../posts/**/*.md");
allPost = allPost.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<Layout title="Yeguada Selecta">
  <main class="pt-32 max-w-screen-xl mx-auto min-h-screen">
    <!-- <Title
      title="Blog"
      title2="de la Yeguada Selecta"
      subtitle="Noticias y novedades"
    /> -->
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
      <div class="md:col-span-2 grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          allPost.map((post) => (
            <BlogPreview post={post.frontmatter} url={post.url} />
          ))
        }
      </div>
      <div class="bg-gray-200">filtro de categroias</div>
    </div>
  </main>
</Layout>
