---

---

<section
  class="min-h-screen bg-[#F0F0F0] flex flex-col items-center justify-center"
>
  <h2 class="text-4xl lg:text-6xl text-blue-900 font-bold">Experiencia</h2>
  <h1 class="text-4xl lg:text-6xl text-blue-900 font-extrabold">
    Talavera Selecta
  </h1>
  <p class="max-w-screen-sm mx-auto text-center text-xl my-12">
    Sumérgete en nuestra variedad de productos cuidadosamente seleccionados,
    desde quesos cremosos hasta dulces exquisitos. Cada producto refleja nuestro
    compromiso con la calidad y la satisfacción del cliente.
  </p>
  <a
    href="/store"
    class="rounded-full text-white bg-blue-900 text-xl font-bold py-1.5 px-3"
    >Conoce nuestros productos</a
  >
</section>
