<section class="py-32">
  <div class="w-full text-center mb-20">
    <h2 class="text-3xl lg:text-4xl text-blue-900">Echa un vistazo a</h2>
    <h1 class="text-4xl lg:text-6xl font font-extrabold text-blue-900">
      nuestra fábrica
    </h1>
  </div>
  <div class="grid grid-cols-2 md:grid-cols-4">
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-black">imagen 1</div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-gray-500">
      imagen 2
    </div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-black">imagen 3</div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-gray-500">
      imagen 4
    </div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-gray-500">
      imagen 6
    </div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-black">imagen 5</div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-gray-500">
      imagen 8
    </div>
    <div class="cursor-zoom-in zoomSection h-52 w-full bg-black">imagen 7</div>
  </div>
</section>

<style>
  .zoomSection {
    transition: transform 0.5s;
  }
  .zoomSection:hover {
    transform: scale(1.5);
  }
</style>
