---
import WaveBottom from "../Utilities/WaveBottom.astro";
---

<section
  class="min-h-screen w-full flex justify-center items-center bg-green-400 heroAboutbg relative"
>
  <div class="autoShow text-white text-center">
    <h2 class="text-2xl lg:text-4xl font-light tracking-widest">
      ¡LECHE Y MÁS!
    </h2>
    <h3 class="text-5xl lg:text-7xl font-bold">Conónocenos</h3>
  </div>
  <WaveBottom />
</section>

<style>
  .heroAboutbg {
    background-image: url("../../assets/images/about/contactanosherobg.png");
    background-size: cover;
    background-position: center;
  }
</style>
