---
import ContactForm from "../../components/Contact/ContactForm.astro";
import HeroContact from "../../components/Contact/HeroContact.astro";
import Location from "../../components/Contact/Location.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contactanos">
  <main class="relative">
    <HeroContact />
    <ContactForm />
    <Location />
  </main>
</Layout>
