---
import menImage from "../../assets/images/home/men.png";
import { Image } from "astro:assets";
import WaveBottom from "../Utilities/WaveBottom.astro";
---

<section class="bg-blue-950 hero-distribuidor relative">
  <div
    class="grid grid-cols-1 md:grid-cols-2 h-screen items-center max-w-screen-xl mx-auto justify-center"
  >
    <div>
      <div class="w-full text-white relative p-4 left-fadeIn">
        <h2 class="text-left text-4xl lg:text-6xl font-bold">
          Únete a <span class="font-normal block"> nuestra familia</span>
          de distribuidores
        </h2>
        <p class="text-2xl mt-4">
          Amplía tu catálogo con nuestros sabores únicos. Forma parte de nuestra
          red de distribuidores y brinda a tus clientes la experiencia de
          nuestra cocina en cada producto.
        </p>
      </div>
    </div>
    <div></div>
  </div>
  <div
    class="h-[40vh] md:h-[50vh] lg:h-[80vh] absolute bottom-0 right-0 lg:right-40 z-10"
  >
    <Image
      src={menImage}
      alt="Distribuidor"
      class="h-full w-auto object-cover"
    />
  </div>
  <WaveBottom />
</section>

<style>
  .hero-distribuidor {
    background-image: url("../../assets/images/distribuidor/heroDistribuidor.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
