---
import type { GetStaticPaths } from "astro";
import ProductView from "@components/Products/ProductView.astro";
import Layout from "../../layouts/Layout.astro";
export const prerender = false;

export async function getStaticPaths() {
  return [
    { params: { category: "quesos", idProduct: undefined } },
    { params: { category: "carnicos", idProduct: undefined } },
    { params: { category: "arepas", idProduct: undefined } },
    { params: { category: "tarrinas", idProduct: undefined } },
    { params: { category: "dulces", idProduct: undefined } },
  ];
}

const { category, idProduct } = Astro.params;
const token = import.meta.env.COMMERCE_SK;

const product = await fetch(`https://api.chec.io/v1/products/${idProduct}`, {
  headers: {
    "X-Authorization": token,
  },
}).then((res) => res.json());
---

<Layout title="producto selecto">
  <section
    class="pt-20 md:pt-32 px-8 flex flex-col items-center justify-center"
  >
    <div class="max-w-screen-xl mx-auto w-full">
      <button
        id="back"
        class="hover:text-gray-700 text-2xl hover:scale-105 transform transition-all duration-300 ease-in-out flex items-center mt-20 md:mt-0 gap-3"
      >
        <span class="">❮</span>
        Volver</button
      >
    </div>
    <div class="w-full max-w-screen-xl mx-auto">
      <ProductView product={product} />
    </div>
  </section>
</Layout>

<script>
  const back = document.getElementById("back");
  back?.addEventListener("click", () => {
    window.history.back();
  });
</script>
