---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Talavera store">
  <main class="h-[60vh] flex items-center justify-center">
    <h1>404</h1>
    <p>La página que buscas no existe.</p>
  </main></Layout
>
