---
import CarruselHome from "../components/Home/CarruselHome";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/images/home/carrusel/slide1.jpg";
import { Image } from "astro:assets";
import SlideComponent from "../components/Home/SlideComponent.astro";
import SaborComponent from "../components/Home/SaborComponent.astro";
import HomeProducts from "../components/Home/HomeProducts.astro";
import MarcasComponent from "../components/Home/MarcasComponent.astro";
import FoodComponent from "../components/Home/FoodComponent.astro";
import BlogHome from "../components/Home/BlogHome.astro";
import DistribuidorCompnent from "../components/Home/DistribuidorCompnent.astro";
import VanComponent from "@components/Home/VanComponent.astro";
---

<Layout title="Talavera store">
  <main>
    <SlideComponent />
    <SaborComponent />
    <HomeProducts />
    <MarcasComponent />
    <FoodComponent />
    <BlogHome />
    <DistribuidorCompnent />
    <VanComponent />
  </main>
</Layout>
