---
import Marcas from "../Utilities/Marcas.astro";
---

<section class="mx-auto p-8">
  <div
    class="flex flex-col gap-10 lg:flex-row items-center text-center xl:text-left justify-around max-w-screen-xl mx-auto"
  >
    <div class="mb-6">
      <h2 class="text-2xl font-semibold">Disfruta de nuestras</h2>
      <h1 class="text-4xl lg:text-6xl font-bold">marcas</h1>
    </div>
    <Marcas />
  </div>
  <div class="flavor"></div>
</section>
