---
import MountainBG from "../Utilities/MountainBG.astro";
---

<section
  class="min-h-screen cow-bg flex items-center justify-center lg:justify-end relative"
>
  <div
    class="right-fadeIn lg:w-1/2 lg:pl-12 2xl:pl-20 lg:pr-16 flex flex-col gap-5"
  >
    <h1 class="text-blue-900 text-5xl font-bold">
      Descubre <br />nuestro sabor
    </h1>
    <p class="text-lg max-w-screen-sm">
      Desde nuestros comienzos, nos dedicamos a ofrecerte una experiencia única,
      donde cada producto te invita a descubrir nuevos sabores y sumergirte en
      la autenticidad de la tradición.
    </p>
    <a
      href="/contact"
      class="text-white bg-blue-900 hover:bg-blue-950 px-12 py-2 text-center md:w-44 rounded-full font-bold"
      >Conócenos</a
    >
  </div>
  <MountainBG />
</section>

<style>
  .cow-bg {
    background-image: url("../../assets/images/home/cow.png");
    background-size: cover;
    background-position: center;
  }
</style>
