---
import MountainBG from "../Utilities/MountainBG.astro";
---

<section
  class="min-h-screen overflow-x-hidden cow-bg flex items-center justify-center lg:justify-end relative"
>
  <div
    class="p-4 right-fadeIn lg:w-1/2 lg:pl-12 2xl:pl-20 lg:pr-16 flex flex-col gap-5"
  >
    <h1 class="text-blue-900 text-4xl lg:text-6xl font-bold">
      Descubre <br />nuestro sabor
    </h1>
    <p class="text-2xl max-w-screen-sm">
      Desde nuestros comienzos, nos dedicamos a ofrecerte una experiencia única,
      donde cada producto te invita a descubrir nuevos sabores y sumergirte en
      la autenticidad de la tradición.
    </p>
    <a
      href="/contact"
      class="text-white bg-blue-900 hover:bg-blue-950 px-12 py-2 text-center md:w-44 rounded-full font-bold"
      >Conócenos</a
    >
  </div>
  <MountainBG />
</section>

<style>
  .cow-bg {
    background-image: url("../../assets/images/home/cow.png");
    background-size: cover;
    background-position: center;
  }
  @media (max-width: 1024px) {
    .cow-bg {
      background-color: rgba(255, 255, 255, 0.739);
      background-blend-mode: overlay;
    }
  }
</style>
