---
import Navbar from "./Navbar.astro";
import whiteLogo from "../assets/images/whiteLogo.svg";
import { Image } from "astro:assets";
import Menu from "./Menu/Menu.astro";

const routes = [
  { name: "Home", href: "/" },
  { name: "Conocenos", href: "/about" },
  {
    name: "Nuestros Productos",
    href: "#",
    subRoutes: [
      { name: "Quesos", href: "/products/quesos" },
      { name: "Carnicos", href: "/products/carnicos" },
      { name: "Arepas", href: "/products/arepas" },
      { name: "Tarrinas", href: "/products/tarrinas" },
      { name: "Dulces", href: "/products/dulces" },
    ],
  },
  { name: "Blog", href: "/blog" },
  { name: "Yeguada Selecta", href: "/yeguada" },
  { name: "Conviertete en Distribuidor", href: "/distributors" },
  // { name: "Contactanos", href: "/contact" },
];
---

<Menu routes={routes}>
  
  <Image src={whiteLogo} alt="Logo" slot="logo" class="h-20" />
  <a
    href="/contact"
    slot="endLink"
    class="ml-6 py-3 flex text-blue-950 font-bold"
  >
    <span class="bg-white p-2 rounded-xl">Contáctanos</span>
  </a>

</Menu>
