---
import { Image } from "astro:assets";
import mountainGrey from "../../../public//images/bg-mountain.svg";
---

<div class="w-full h-36 overflow-hidden absolute bottom-0">
  <Image src={mountainGrey} alt="Astro Logo" class="object-contain w-full" />
</div>
