---
import { Image } from "astro:assets";
import bgWave from "../../assets/images/home/carrusel/curve.svg";
---

<div class="absolute w-full top-0">
  <Image
    src={bgWave}
    alt="Wave"
    class="transform rotate-180 w-full object-cover -mt-1"
  />
</div>
