---
import { Image } from "astro:assets";
import bgWave from "../../assets/images/home/carrusel/curve.svg";
---

<div class="absolute w-full bottom-0">
  <Image src={bgWave} alt="Wave" class="w-[110%] object-cover -mb-0.5" />
</div>
