---
import Layout from "@/layouts/Layout.astro"
import AdminMain from "@/components/Admin/AdminMain"
---

<Layout title="Admin">
  <main class="  mx-auto min-h-screen">
   <AdminMain client:load  />
  </main>
</Layout>

